html{
  display: inline-grid;
}
body {
  height: 100%;
}

header {
  display: block;
  background-color: #000;
}

.banner-text{
	position: relative !important;
}
.banner-text span{
	position: absolute;
    bottom: 0;
}

.tinted { opacity: .8; }

.bg-image-full {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-image-banner {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.vs-image {
  width: 25% !important;
}

.centerH-Title{
  margin-top: 8rem;
  margin-bottom: 8rem;
  max-width: 65%;
}
.lg-h1{
  font-size: 66px !important;
}
.center-text {
  text-align: center;
}

.text-white {
  color: white;
}

.title-text {
  color:rgb(50, 50, 50);
  font-size: 70px; /* Changing font size */
  background-color: white; /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 20px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 10px 30px 10px 30px; /* Making space around letters */
  box-shadow: -10px -10px #b1b1b1b5;
}
.title-center-text {
  color:rgb(50, 50, 50);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.838); /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 0px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 10px 30px 10px 30px; /* Making space around letters */
  box-shadow: -10px -10px #b1b1b1b5;
}
.question-title {
  color: #232323;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.838); /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 20px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 10px 30px 10px 30px; /* Making space around letters */
  box-shadow: -10px -10px #b1b1b1b5;
}

.question-subtitle {
  color: #de4b4b;
  background-color: rgba(255, 255, 255, 0.838); /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 20px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 10px 30px 10px 30px; /* Making space around letters */
}